In [8]:
from pyspark.sql import SparkSession # Importando a classe SparkSession do módulo pyspark.sql

# Criando uma sessão Spark.
# Se uma sessão com o nome "criandoSessaoSpark" já existir, ele a retornará.
# Caso contrário, ele criará uma nova sessão Spark.
spark = SparkSession.builder.appName("criandoSessaoSpark").getOrCreate()

# Definindo os dados que serão usados para criar o DataFrame.
# Cada tupla representa uma linha, e os elementos dentro da tupla são os valores das colunas.
dados = [("Kleber Lares", 51), ("Renata", 50), ("Peu", 20)]

# Definindo os nomes das colunas para o DataFrame.
columns = ["Nome", "Idade"]

# Criando um DataFrame do Spark a partir dos dados e dos nomes das colunas definidos.
df = spark.createDataFrame(dados, columns)

# Exibindo o conteúdo do DataFrame no console.
# Isso mostrará uma tabela com as colunas "Nome" e "Idade" e os dados correspondentes.
df.show()

# Criando uma view temporária SQL chamada "pessoa" a partir do DataFrame.
# Isso permite que você execute consultas SQL diretamente no DataFrame como se fosse uma tabela de banco de dados.
df.createOrReplaceTempView("pessoa")

# Executando uma consulta SQL na view temporária "pessoa".
# Esta consulta seleciona todas as colunas de pessoas onde a Idade é menor que 50.
resultado = spark.sql("SELECT * FROM pessoa where Idade < 50")

# Exibindo o resultado da primeira consulta SQL.
resultado.show()

# Executando outra consulta SQL na view temporária "pessoa".
# Esta consulta seleciona todas as colunas de pessoas onde a Idade é maior que 50.
resultado2 = spark.sql("SELECT * FROM pessoa where Idade > 50")

# Exibindo o resultado da segunda consulta SQL.
resultado2.show()

# Executando uma consulta SQL para somar todas as idades na view temporária "pessoa".
resultadoSoma = spark.sql("SELECT SUM(Idade) FROM pessoa")

# Exibindo o resultado da consulta de soma.
resultadoSoma.show()

+------------+-----+
|        Nome|Idade|
+------------+-----+
|Kleber Lares|   51|
|      Renata|   50|
|         Peu|   20|
+------------+-----+

+----+-----+
|Nome|Idade|
+----+-----+
| Peu|   20|
+----+-----+

+------------+-----+
|        Nome|Idade|
+------------+-----+
|Kleber Lares|   51|
+------------+-----+

+----------+
|sum(Idade)|
+----------+
|       121|
+----------+